{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>{% trans "The SciPyLA 2016 Ambassadors Team" %}</h1>

<h2>{% trans "Argentina:" %}</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Celia Cintas - <a href="mailto:cintas.celia@gmail.com">cintas.celia@gmail.com</a></li>
</ul>
<br/>

<h2>{% trans "Bolivia:" %}</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Horacio Andres Vargas Guzmán - <a href="mailto:horacio.v.g@gmail.com">horacio.v.g@gmail.com</a></li>
</ul>
<br/>

<h2>{% trans "Costa Rica:" %}</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Jeudy Blanco Vega - <a href="mailto:jeudy.blanco@cinespa.ucr.ac.cr">jeudy.blanco@cinespa.ucr.ac.cr</a></li>
</ul>
<br/>

<h2>{% trans "Cuba:" %}</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Olemis Lang - <a href="mailto:olemis@gmail.com">olemis@gmail.com</a></li>
</ul>
<br/>

<h2>{% trans "Guatemala:" %}</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Sebastian Oliva - <a href="mailto:tian2992@gmail.com">tian2992@gmail.com</a></li>
</ul>
<br/>

<h2>{% trans "México:" %}</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Alex Dzul - <a href="mailto:alexexc2@gmail.com">alexexc2@gmail.com</a></li>
</ul>
<br/>

<h2>{% trans "Venezuela:" %}</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Francisco Palm - <a href="mailto:francisco.palm@gmail.com">francisco.palm@gmail.com</a></li>
</ul>
<br/>

{% endblock %}
