{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Talk and Poster Presentations Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>{% trans "SciPyLA 2016 Talk and Poster Presentations" %}</h1>

{% box "presentation-guidelines" %}

<div class="row bg-warning">
    <p>{% trans "More tickets tickets are available!!!" %}</p>
</div>

<div style="width:100%; text-align:left;" ><iframe src="//eventbrite.com/tickets-external?eid=23050125546&ref=etckt" frameborder="0" height="306" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Desenvolvido pela Eventbrite</a></div></div>

<h2>Accepted Presentations</h2>

<h3>May 18th</h3>

<table>
    <tbody>
<tr>
    <th>Time</th>
    <th>Title</th>
    <th>Speaker</th>
</tr>
<tr>
    <td>9:00-9:40</td>
    <td>Arrival and registration for lightning talks</td>
    <td>-</td>
</tr>
<tr>
    <td>9:40-10:00</td>
    <td>Welcome</td>
    <td>Ivan Ogasawara</td>
</tr>
<tr>
    <td>10:00-10:40</td>
    <td>Lightning talks</td>
    <td>-</td>
</tr>
<tr>
    <td>10:40-11:20</td>
    <td>Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>11:20-12:00</td>
    <td>Sinestesia científica - Explorando dados através da música, com DataSounds</td>
    <td>Arnaldo Russo</td>
</tr>
<tr>
    <td>12:00-12:40</td>
    <td>The numba library</td>
    <td>Edison Gustavo Muenz</td>
</tr>
<tr>
    <td>12:40-14:20</td>
    <td>Lunch Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>14:20-15:00</td>
    <td>What's new in Spyder 3.0</td>
    <td>Carlos Cordoba</td>
</tr>
<tr>
    <td>15:00-15:40</td>
    <td>External Commands</td>
    <td>Juan Cabral</td>
</tr>
<tr>
    <td>15:40-16:20</td>
    <td>Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>16:20-17:00</td>
    <td>import community</td>
    <td>Fernando Masanori</td>
</tr>
<tr>
    <td>17:00-19:00</td>
    <td>Happy Hour <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>20:00-23:00</td>
    <td>Dinner <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
    </tbody>
</table>

<h3>May 19th</h3>

<table>
    <tbody>
<tr>
    <th>Time</th>
    <th>Title</th>
    <th>Speaker</th>
</tr>
<tr>
    <td>9:00-9:40</td>
    <td>Conda-forge and the future of the Scientific Python packaging</td>
    <td>Filipe Fernandes</td>
</tr>
<tr>
    <td>9:40-10:20</td>
    <td>Geração da Fármacos com Python</td>
    <td>Mário Ségio de Queiroz</td>
</tr>
<tr>
    <td>10:20-10:40</td>
    <td>Lightning talks <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>10:40-11:20</td>
    <td>Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>11:20-12:00</td>
    <td>Fighting techniques in kaggle war</td>
    <td>Emilio Simoni</td>
</tr>
<tr>
    <td>12:00-12:40</td>
    <td>3DBMO: A Python Tool to Study the Power Spectrum Dimensional Dependence in Complex Physical Systems</td>
    <td>Paulo Giovani</td>
</tr>
<tr>
    <td>12:40-14:20</td>
    <td>Lunch <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>14:20-15:00</td>
    <td>A Simplificação Textual como instrumento de inclusão cognitiva</td>
    <td>Vinicius Woloszyn</td>
</tr>
<tr>
    <td>15:00-15:40</td>
    <td>Solving Math Programming Problems with Python</td>
    <td>Eduardo Silva</td>
</tr>
<tr>
    <td>15:40-16:20</td>
    <td>Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>16:20-17:00</td>
    <td>Round table about how to run your own event</td>
    <td>Ivan Ogasawara, Raniere Silva, Juan Cabral</td>
</tr>
<tr>
    <td>17:00-19:00</td>
    <td>Happy Hour <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>20:00-23:00</td>
    <td>Dinner <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
    </tbody>
</table>

<h3>May 20th</h3>

<table>
    <tbody>
<tr>
    <th>Time</th>
    <th>Title</th>
    <th>Speaker</th>
</tr>
<tr>
    <td>9:00-9:40</td>
    <td>Round table about SciPy Latin America 2017</td>
    <td></td>
</tr>
<tr>
    <td>9:40-10:20</td>
    <td>Interactive Data Visualization in the Browser with Bokeh</td>
    <td>Bryan Van de Ven</td>
</tr>
<tr>
    <td>10:20-10:40</td>
    <td>Lightning talks</td>
    <td>-</td>
</tr>
<tr>
    <td>10:40-11:20</td>
    <td>Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>11:20-12:00</td>
    <td>Ecuaciones diferenciales con Python</td>
    <td>Raul Lopez Briega</td>
</tr>
<tr>
    <td>12:00-12:40</td>
    <td>Localiza, una biblioteca para la localización óptima de equipamientos sociales</td>
    <td>Francisco Palm</td>
</tr>
<tr>
    <td>12:40-14:20</td>
    <td>Lunch <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>14:20-15:00</td>
    <td>Learning Analytics: utilizando Data Science para melhorar a educação</td>
    <td>Matheus Braun Magrin</td>
</tr>
<tr>
    <td>15:00-15:40</td>
    <td>From SCADA to IoT with Python</td>
    <td>Nahuel Defossé</td>
</tr>
<tr>
    <td>15:40-16:20</td>
    <td>Break <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>16:20-17:00</td>
    <td>Concluding discussion</td>
    <td>Ivan Ogasawara</td>
</tr>
<tr>
    <td>17:00-19:00</td>
    <td>Happy Hour <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
<tr>
    <td>20:00-23:00</td>
    <td>Dinner <a href="#social_event_warning">¹</a></td>
    <td>-</td>
</tr>
    </tbody>
</table>



<!--
<p>{% trans "Accepted poster presentations are listed at <a href='https://conference.scipy.org/scipyla2016/posters/'>conference.scipy.org/scipyla2016/posters</a>." %}</p>

<p>{% trans "The schedulte of talks is listed within the full schedule at  <a href='https://conference.scipy.org/scipyla2016/schedule/'>conference.scipy.org/scipyla2016/schedule</a>." %}</p>
-->

<h2>Social Events</h2>

<p id="social_event_warning">Three types of social events will happen during SciPy Latin America 2016: break (between talks), happy hour (after the last talk of the day) and dinner (after the happy hour). The organizers of SciPy Latin America will provide suggestions for the social events but attendees <strong>must</strong> cover their own expenses on the social events.</p>
<p>If you have any dietary restriction <strong>please</strong> <a href="2016@scipyla.org">contact the organization team</a> as soon as possible so that we could select places for the social events that have something for you.</p>

<h2>{% trans "Call for Submissions" %}</h2>

<div class="row bg-warning">
    <p>{% trans "Call for submission is close!!!" %}</p>
</div>

<p>{% trans "SciPyLA 2016, the fourth annual Scientific Computing with Python in Latin America conference, will be held this May 16th-20th in Florianópolis, Santa Catarina, Brazil. SciPy is a community dedicated to the advancement of scientific computing through open source Python software for mathematics, science, and engineering. The annual SciPyLA Conference allows participants from academic, commercial, and governmental organizations to showcase their latest projects, learn from skilled users and developers, and collaborate on code development." %}</p>

<p>{% trans "<strong>We invite proposals for 20 minutes talks and poster presentations.</strong>" %}</p>

<h3>{% trans "Proposal Submission" %}</h3>

<p>{% trans "To submit a proposal, <a href='/scipyla2016/account/signup/'>sign up</a> or <a href='/scipyla2016/account/login/'>log in</a> to your account and proceed to your <a href='/scipyla2016/dashboard/'>account dashboard</a>." %}</p>


<p>{% trans "Click submit proposal, talk/poster, create new..." %}</p>

<p>{% trans "For the submission you will need the following information:" %}</p>

<p>{% trans "<strong>Brief Description</strong>: The brief description you fill out below will appear in the online program." %}</p>

<p>{% trans "<strong>Detailed Abstract</strong>: Your placement in the program will be based on reviews of your detailed abstract. This should be a 150-300 words detailed outline of your presentation. This detailed abstract should concisely describe software of interest to the SciPy community, tools or techniques for more effective computing, or how scientific Python was applied to solve a research problem. A traditional background/motivation, methods, results, and conclusion structure is encouraged but not required. Links to project websites, source code repositories, figures, full papers, and evidence of public speaking ability are encouraged." %}</p>

<h3>Review and Proceedings</h3>

<p>{% trans "Each abstract will be peer-reviewed by multiple members of the Program Committee Board. Abstracts will be accepted for posters or presentations. Optional papers to be published in the conference proceedings will be requested following abstract submission. This year the proceedings will be made available prior to the conference to help attendees navigate the conference." %}</p>

<h3>{% trans "Announcement" %}</h3>

<p>{% trans "Accepted presentations will be announced on April 22nd." %}</p>

<h3>{% trans "Important dates:" %}</h3>

<ul  style="list-style-position: inside;  padding-left: 1em;">
    <li>{% trans "March 1st: Initial date for submission of presentations" %}</li>
    <li>{% trans "April 8th: Deadline for submission of presentations" %}</li>
    <li>{% trans "April 22nd: Notification of acceptance for presentations" %}</li>
    <li>{% trans "May 18th-20th: SciPyLA 2016, 3 days of presentations" %}</li>
</ul>
<br>
<p>{% trans "We look forward to very exciting presentations and hope to see you all at the conference." %}</p>

<h3>{% trans "The SciPyLA 2016 Program Chairs" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>{% trans "Melissa Weber Mendonça, Federal University of Santa Catarina" %}</li>
</ul>
{% endblock %}
