{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>SciPyLA 2016 - Trilha Jovem Cientista</h1>

{% box "tutorial-guidelines" %}

<h2>Proposta</h2>

<p>
Envolver adolescentes em atividades de programação em python que controlam o telescópio de um observatório.  A ideia é mostrar que a programação de um equipamento complexo como um telescópio e todo observatório pode ser feita em Python por pessoas normais, como nós, os professores, e vocês, os estudantes.  E lembrar que na maioria das vezes quem realmente faz o trabalho são os estudantes.
</p>

<h2>Instrutores</h2>
<ul>
    <li>Antonio Kanaan;</li>
    <li>Julia Machado;</li>
    <li>William Schoenell.</li>
</ul>
<p></p>

<h2>Nível</h2>
<ul>
<li>Introdutório.</li>
</ul>
<p></p>

<h2>Programação</h2>

<h3>16 de Maio</h3>
<table>
<thead>
<tr>
<th>Hora</th>
<th>Lugar</th>
<th>Título</th>
</tr>
<thead>
<tbody>

<tr>
<td>9:00-10:15</td>
<td>Laboratório de Informática do Departamento de Física - UFSC</td>
<td><a href="#track-teen1">Introdução ao python</a></td>
</tr>

<tr>
<td>10:45- 12:00</td>
<td>Laboratório de Informática do Departamento de Física - UFSC</td>
<td><a href="#track-teen1">Introdução ao chimera</a></td>
</tr>

</tbody>
</table>


<h3>20 de Maio</h3>
<table>
<thead>
<tr>
<th>Hora</th>
<th>Lugar</th>
<th>Título</th>
</tr>
<thead>
<tbody>

<tr>
<td>9:00-10:15</td>
<td>Laboratório de Informática do Departamento de Física - UFSC</td>
<td><a href="#track-teen3">Uso do chimera para comunicar com instrumentos virtuais (camera, telescopio, cupula).  Comando do telescópio.</a></td>
</tr>

<tr>
<td>10:45- 12:00</td>
<td>Planetário UFSC</td>
<td><a href="#track-teen4">Visita ao observatório e uso do comando do telescópio como atividade prática</a></td>
</tr>

</tbody>
</table>

<h3>Organizadores da Trilha Jovem Cientista SciPyLA 2016</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li><a href='mailto:ankanaan@gmail.com'>Antonio Kanaan</a> (Universidade Federal de Santa Catarina);</li>

    <li><a href='mailto:julia@curtacircuitos.com.br '>Julia Machado</a> (Curta Circuitos, Anitas).</li>
</ul>

{% endblock %}
