{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>{% trans "SciPyLA 2016 Tutorials" %}</h1>

{% box "tutorial-guidelines" %}

<h2>List of Accepted Tutorials</h2>
<table>
<tbody>
<tr>
<th>Day</th>
<th>Time</th>
<th>Place</th>
<th>Title</th>
<th>Speaker</th>
<th>Level</th>
</tr>
<tr>
<td>5/16/2016</td>
<td>9:00-12:00</td>
<td>Auditório Elke Hering</td>
<td>I see 42 everywhere</td>
<td>Fernando Masanori</td>
<td>Introductory</td>
</tr>
<tr>
<td>5/16/2016</td>
<td>9:00-12:00</td>
<td>Sala de projeção Harry Laus</td>
<td>Python for geoscientist</td>
<td>Filipe Fernandes</td>
<td>Intermediate</td>
</tr>
<tr>
<td>5/16/2016</td>
<td>9:00-12:00</td>
<td>Sala de projeção Henrique da Silva Fontes</td>
<td><a href="tut2/">Introduction to MPI on python using mpi4py</a></td>
<td>Jeudy Blanco</td>
<td>Introductory</td>
</tr>
<tr>
<td>5/16/2016</td>
<td>14:00-17:00</td>
<td>Auditório Elke Hering</td>
<td>The stupid content tracker</td>
<td>Tomas Aliaga</td>
<td>Introductory</td>
</tr>
<tr>
<td>5/16/2016</td>
<td>14:00-17:00</td>
<td>Sala de projeção Harry Laus</td>
<td>Utilización de Vispy para visualización rápida en 3D</td>
<td>David Ochoa</td>
<td>Intermediate</td>
</tr>
<tr>
<td>5/16/2016</td>
<td>14:00-17:00</td>
<td>Sala de projeção Henrique da Silva Fontes</td>
<td>Introduction to High-Performance Scientific Computing with PyOpenCL</td>
<td>Celia Cintas</td>
<td>Introductory</td>
</tr>
<!--
<tr>
<td>5/17/2016</td>
<td>9:00-12:00</td>
<td>Auditório Elke Hering (80)</td>
<td>Introduction to Data Analysis using Python Data Stack</td>
<td>Bargava Subramanian</td>
<td>Introductory</td>
</tr>
-->
<tr>
<td>5/17/2016</td>
<td>9:00-12:00</td>
<td>Auditório Elke Hering</td>
<td>DSL on the top of Python Object Model</td>
<td>Juan Cabral</td>
<td>Introductory</td>
</tr>
<tr>
<td>5/17/2016</td>
<td>9:00-12:00</td>
<td>Sala de projeção Harry Laus</td>
<td>Fit and predict your data: Introduction to Scikit-learn</td>
<td>Celia Cintas</td>
<td>Introductory</td>
</tr>
<tr>
<td>5/17/2016</td>
<td>9:00-12:00</td>
<td>Sala de projeção Henrique da Silva Fontes</td>
<td>Scientific Python applied to Petroleum Engineering - an Introduction</td>
<td>Igor T. Ghisi</td>
<td>Introductory</td>
</tr>
<tr>
<td>5/17/2016</td>
<td>14:00-17:00</td>
<td>Auditório Elke Hering</td>
<td>Usando R com o Python - rpy2</td>
<td>Arnaldo Russo</td>
<td>Intermediate</td>
</tr>
<!--
<tr>
<td>5/17/2016</td>
<td>14:00-17:00</td>
<td>Sala de projeção Harry Laus (40)</td>
<td>scikit-image: Realce e Detecção de bordas</td>
<td>Darleison Rodrigues</td>
<td>Intermediate</td>
</tr>
-->
<!--
<tr>
<td>5/17/2016</td>
<td>14:00-17:00</td>
<td>Sala de projeção Henrique da Silva Fontes (24)</td>
<td>TIME SERIES ANALYSIS USING PYTHON</td>
<td>Bargava Subramanian</td>
<td>Introductory</td>
</tr>
-->
<tr>
<td>5/17/2016</td>
<td>14:00-17:00</td>
<td>Sala de projeção Henrique da Silva Fontes</td>
<td>SQL-Alchemy</td>
<td>Juan Cabral</td>
<td>Intermediate</td>
</tr>
</table>
</tbody>


<!--

<hr/>
<h2>{% trans "Call for Submissions" %}</h2>

<p>{% trans "SciPyLA 2016, the forth annual Scientific Computing with Python in Latin America conference, will be held this May 16th-20th in Florianópolis, Santa Catarina, Brazil. SciPy is a community dedicated to the advancement of scientific computing through open source Python software for mathematics, science, and engineering. The annual SciPyLA Conference allows participants from academic, commercial, and governmental organizations to showcase their latest projects, learn from skilled users and developers, and collaborate on code development." %}</p>

<p>{% trans "The conference will kick off with two days of tutorials. These sessions provide access to expert training, and consistently receive fantastic feedback from participants." %}</p>

<p>{% trans "<strong>We are now accepting tutorial proposals from individuals or teams that would like to teach a tutorial at SciPyLA 2016.</strong>" %}</p>

<p>{% trans "Whether you are a major contributor to a scientific Python library or an expert-level user, this is a great opportunity to share your knowledge and offset some of the costs of your SciPyLA 2016 attendance." %}</p>

<h3>{% trans "Topics" %}</h3>

<p>{% trans "Tutorials should be focused on covering a well-defined topic in a hands-on manner.  We want to see attendees coding! We encourage submissions to be designed to allow at least 50% of the time for hands-on exercises even if this means the subject matter needs to be limited." %}</p>


<p>{% trans "For examples of content and format, you can refer to past tutorials from SciPy tutorial sessions (<a href='http://conference.scipy.org/scipy2015/participate/tutorials/' target='_blank'>SciPy2015</a>, <a href='http://conference.scipy.org/scipy2014/participate/tutorials/' target='_blank'>SciPy2014</a>).  We are looking for awesome techniques or packages, helping new or advanced python programmers develop better or faster scientific applications." %}</p>

<h3>{% trans "Proposal Submission" %}</h3>

<p>{% trans "To submit a proposal, <a href='/scipyla2016/account/signup/'>sign up</a> or <a href='/scipyla2016/account/login/'>log in</a> to your account and proceed to your <a href='/scipyla2016/dashboard/'>account dashboard</a>." %}</p>

<p>{% trans "Click submit proposal, tutorials, create new... " %}</p>

<p>{% trans "For the submission you will need the following information:" %} </p>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>{% trans "A short bio of the presenter or team members, containing a description of past experiences as a trainer/teacher/speaker, and (ideally) links to videos of these experiences if available." %}</li>
    <li>{% trans "Which track the tutorial would fit best in (Introductory, Intermediate, or Advanced) and, in the case of an Introductory tutorial submission, select one of the 4 introductory topics." %}</li>
    <li>{% trans "A description of the tutorial, suitable for posting on the SciPy website for attendees to view. It should include the target audience, the expected level of knowledge prior to the class, and the goals of the class." %}</li>
    <li>{% trans "A more detailed outline of the tutorial content including the duration of each part and exercise sessions. Please include a description of how you plan to make the tutorial hands-on." %}</li>
    <li>{% trans "A list of Python packages that attendees will need to have installed prior to the class to follow along. Please mention if any packages are not cross platform. Installation instructions or links to installation documentation should be provided for packages that are not available through easy_install, pip, EPD, Anaconda, etc., or that require third party or compiled libraries." %}</li>
    <li>{% trans "If available, the tutorial notes, slides, exercise files, and iPython notebooks, even if they are preliminary." %}</li>
</ul>

<h3>Review and Proceedings</h3>

<p>{% trans "Each tutorial will be peer-reviewed by multiple members of the Program Committee Board. This year final tutorial materials and instructions for attendees will be due on May 9th. This will include final version numbers of required software and a test script that can be run by attendees to ensure that they have sufficient time to prepare their laptops before the conference." %}</p>

<h3>{% trans "Announcement" %}</h3>

<p>{% trans "Accepted tutorials will be announced on April 22nd." %}</p>

-->

<h3>{% trans "Important dates:" %}</h3>

<ul  style="list-style-position: inside;  padding-left: 1em;">
    <li>{% trans "March 1st: Initial date for submission of tutorials" %}</li>
    <li>{% trans "April 8th: Deadline for submission of tutorials" %}</li>
    <li>{% trans "April 22nd: Notification of acceptance for tutorials" %}</li>
    <li>{% trans "May 16th-17th: SciPyLA 2016, 2 days of tutorials" %}</li>
</ul>
<br>
<p>{% trans "We look forward to very exciting tutorials and hope to see you all at the conference." %}</p>


<h3>{% trans "The SciPyLA 2016 Tutorial Chairs" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>{% trans "<a href='mailto:jeudy.blanco@cinespa.ucr.ac.cr'>Jeudy Blanco</a>, Professor and researcher at <a href='http://cinespa.ucr.ac.cr/'>CINESPA</a>, Universidad de Costa Rica" %}</li>
</ul>

{% endblock %}
