{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>{% trans "The SciPyLA 2016 Organization Team" %}</h1>

<h2>{% trans "Executive Committee" %}</h2>

<h3>{% trans "Conference Subcomittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li style="font-weight: bold;">Ivan Ogasawara</li>
<li>Letícia Portella</li>
<li>Raniere Gaia Costa da Silva</li>
</ul>
<br/>

<h3>{% trans "Academic Subcommittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li style="font-weight: bold;">Antonio Fernando Härter Fetter Filho</li>
</ul>
<br/>

<h3>{% trans "Scientific Subcommittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li style="font-weight: bold;">Melissa Weber Mendonça</li>
</ul>
<br/>

<h3>{% trans "Training Subcommittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li style="font-weight: bold;">Jeudy Blanco Vega</li>
</ul>
<br/>

<h3>{% trans "Communication Subcommittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li style="font-weight: bold;">Tomas Aliaga</li>
</ul>
<br/>

<h3>{% trans "Financial Aid Subcommittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li style="font-weight: bold;">Matheus Braun Magrin</li>
</ul>
<br/>

<h3>{% trans "Technical Subcommittee" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li style="font-weight: bold;">Juan Bautista Cabral</li>
</ul>
<br/>

<h2>{% trans "Program Committee" %}</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Amim Moises Salum Knabben</li>
    <li>Antonio Kanaan</li>
    <li>Eric Nardi</li>
    <li>Filipe Pires Alvarenga Fernandes</li>
    <li>Gileno Filho</li>
    <li>Horacio Andres Vargas Guzmán</li>
    <li>João Felipe Nicolaci Pimentel</li>
    <li>Luiz Rafael Santos</li>
    <li>Matheus Braun Magrin</li>
    <li>Mário Sérgio Oliveira de Queiroz</li>
</ul>
<br/>

<h2>{% trans "Ambassadors" %}</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Celia Cintas (Argentina)</li>
    <li>Horacio Andres Vargas Guzmán (Bolivia)</li>
    <li>Elizabeth Ramirez (Colombia)</li>
    <li>Jeudy Blanco Vega (Costa Rica)</li>
    <li>Sebastian Oliva (Guatemala)</li>
    <li>Alex Dzul (México)</li>
    <li>Francisco Palm (Venezuela)</li>
</ul>
<br/>

{% endblock %}
