{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>SQL-Alchemy</h2>

<h3>Instructor</h3>
<div><p>Juan Cabral</p></div>

<h3>Description</h3>
<div><p>SQL-Alchemy is the most advanced way to interact from Python for mostly all relational and non-relational databases. With a complex interface offer a uniform tool for manage almost all the capabilities of your data-warehouse. Here we are going to try to understand why SQL is still the one of best alternative to manage your data.</p></div>

<h3>Abstract</h3>
<div>

<p>Topics:
    <ul>
        <li>SQL</li>
        <li>Why SQL is still a great choice</li>
        <li>SqlAlchemy</li>
        <li>The Core</li>
        <li>Declarative Bas</li>
    </ul>
</p>

</div>

<h3>Speaker Bio</h3>
<div>

<p>I’m a full stack developer and software engineer with extensive Python, web programming, and distributed systems experience.</p>

<p>I am an experienced and respected community organizer. I am most deeply involved in the Python community. I have been the chair of PyCon Argentina 2012, the Python Argentina flagship conference, and i founded the SciPy Argentina Community and also i was elected chari of SCiPy Argentina 2015</p>

</div>

{% endblock %}
