{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Introduction to MPI on python using mpi4py</h2>

<h3>Instructor</h3>
<div><p></p></div>

<h3>Description</h3>
<div></div>

<h3>Abstract</h3>
<div></div>

<h3>Speaker Bio</h3>
<div></div>

{% endblock %}
