{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Introduction to MPI on python using mpi4py</h2>

<h3>Instructor</h3>
<div><p>Jeudy Blanco</p></div>

<h3>Description</h3>
<div><p>The goal of the tutorial is to introduce the participants to basic concepts of parallel programming using the MPI specification and the mpi4py library, going through several basic examples that cover the main features of the library. At the end of the tutorial, a practical exercise will be assigned to the participants.<p></div>

<h3>Abstract</h3>
<div>

<p>MPI is widely used in the scientific community and is supported on several programming languages, python being one of them. The selected library is mpi4py which implements most of the MPI specification.</p>

<p>The tutorial will start with a brief description of parallel programming topics, including the different parallelism models such as data parallelism, tasks parallelism, introduction to beowolf clusters and the different paradigms in parallel programming and their approaches (OpenMP and MPI).</p>

<p>Then an historic overview of MPI, the main concepts (Communicators, Ranks) and the main library functions: MPI_Init, MPI_Comm_size, MPI_Comm_rank, MPI_Send, MPI_Recv, MPI_Finalize. Hand on examples covering all these functions will be presented to the participants, going from a simple Hello World to point to point communication and collective communication that covers Broadcast, Reduce, Scatter and Gather operations.</p>

<p>At the end of the tutorial, an exercise will be given to be solved in the class. A serial code for calculating Pi will be provided, and it will be the students task to parallelize it using mpi4py. The students will also have the opportunity to run benchmarks and compare the performance enhancement after parallelizing the code.</p>

</div>

<h3>Speaker Bio</h3>
<div>Professor and researcher at Centro de Investigaciones Espaciales, Universidad de Costa Rica. 8 years of experience as python developer and 4 years of experience working with MPI in different programming languages (Fortran, python). Professor of Scientific Computing with python at UCR where MPI with mpi4py is one of the course subjects. Administrator of the Chirripo cluster at UCR.</div>

{% endblock %}
