{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>The stupid content tracker</h2>

<h3>Instructor</h3>
<div><p>Tomas Aliaga</p></div>

<h3>Description</h3>
<div><p>This tutorial is aimed for those who would like to improve their skills with Git. Either if you have never used Git or have only used the basics of its power, you are invited to take part in this hands-on tutorial to gain a better understanding of the underlying concepts and hopefully take away some tips and tricks.</p></div>

<h3>Abstract</h3>
<div>
    <p>
        The following is a brief description of the topics I will try to cover in the agenda. It might suffer slight adjustments to fit audience interests and potential timing constraints if required.
    <ul>
        <li>Understanding the four core concepts</li>
        <li>Branching, merging and rebasing</li>
        <li>Working with remotes</li>
        <li>Workflows overview</li>
        <li>Tips, tricks and good practices</li>
    </ul>
    </p>
</div>

<!-- <h3>Speaker Bio</h3>
<div></div>-->

{% endblock %}
