{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Utilización de Vispy para visualización rápida en 3D</h2>

<h3>Instructor</h3>
<div><p>David Ochoa</p></div>

<h3>Description</h3>
<div><p>VisPy es una librería OpenGL para Python (2, 3) que puede ser utilizada por programadores que conozcan de OpenGL o por científicos que necesiten una plataforma de visualización de alto nivel y alto desempeño. En este tutorial se desarrollará un ejercicio de visualización de múltiples con diferentes características (posición, velocidad, tamaño, color) en un espacio 3D bajo el paradigma de POO. </p></div>

<h3>Abstract</h3>
<div>

<p><a href="http://vispy.org/">VisPy</a> inició cuando cuatro diferentes desarrolladores decidieron juntarse para hacer una sola librería de visualización: Luke Campagnola (PyQtGraph), Almar Klein (Visvis), Cyrille Rossant (Galry) y Nicolas Rougier (Glumpy). Ellos nos ofrecen una librería OpenGL de alto desempeño para Python (2, 3) que puede ser utilizada por programadores que conozcan de OpenGL o por científicos que necesiten una plataforma de visualización de alto nivel y alto desempeño. A pesar de estar todavía en desarrollo continuo, esta librería es estable y tiene un buen desempeño. La librería es altamente versátil y se apoya en los objetos de Numpy, siendo muy simple modificar los datos mostrados en la ventana gráfica con instrucciones del tipo:

<p><code>visual.set_data(pos = new_position)</code></p>

Donde new_position es un arreglo numerico Numpy.</p>

<p><h4>Tutorial: visualización de objetos esféricos en un espacio definido.</h4>

<p>En este tutorial se desarrollarán dos partes:</p>

<ul>
<li>En la primera se presentarán algunas de las caracteristicas básicas de la librería y con estas se hará un sistema simple de presentación de objetos wireframe en un ambiente 3D. En este sistema se simulará el comportamiento múltiples de pelotas en volumen rectangular. Cada pelota es, en el código propuesto, un objeto y cada una de ellas tiene un comportamiento programado independientemente. Cada una de ellas controla, también, su propia contraparte en la visualización, que al igual que su posición y velocidad, es actualizada a cada timestep.</li>

<li>Utilizando la misma plataforma de la primera en la segunda parte se desarrollarán objetos tipo burbuja. Estos son formados aleatoriamente en el fondo de un tanque y tienen un comportamiento diferente de las anteriores cambiando propiedades diferentes de tamaño y de color.</li>
</ul>

<p>El tutorial no esta pensado en una visualización con el desempeño más rápido, sino para mostrar la utilización de la librería VisPy en una simulación programada en el paradigma POO, integrando naturalmente los objetos, sus características intrínsecas y su visualización.</p>

</div>

<h3>Speaker Bio</h3>
<div>
<p>Ingeniero mecánico y desarrollador de software. Actualmente trabajando en el proyecto de Doctorado con foco principal en algoritmos para la generación y evaluación de trayectorias de fresado para maquinas CNC (CAM). Apasionado en crear las herramientas computacionales correctas para resolver problemas complejos.</p>

<p>Mechanical engineer and software developer. Currently working in my Doctorate research project creating and evaluating toolpath generation algorithms for CNC milling (CAM). Passionate about creating the right tools for solving complex problems by coding.</p>

</div>

{% endblock %}
