{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Introduction to High-Performance Scientific Computing with PyOpenCL</h2>

<h3>Instructor</h3>
<div><p>Celia Cintas</p></div>

<h3>Description</h3>
<div><p>This tutorial will show how to build efficient hardware independent solutions (CPUs, DSP, FPGAs and GPUs) using PyOpenCL. The tutorial will give a brief introduction to the programming basics such as architecture, memory types, execution models. After the basic concepts, we will dive into PyOpenCL and how to use it to resolve parallel problems, from basic matrix operations to image processing. </p></div>

<h3>Abstract</h3>
<div>

<p>OpenCL is an open, royalty-free standard for general purpose parallel programming across CPUs, GPUs. OpenCL let us develop fast and efficient code for a number of applications with different workload behaviors: control intensive (searching and sorting), data intensive ( image processing, simulation and modeling, and data mining), compute intensive (iterative methods, numerical methods and financial modeling).</p>

<p>OpenCL abstracts the code from specific hardware perks, allowing our programs to run over a wide range of hardware configurations. PyOpenCL is a Python programming environment, that reduce the amount of C code to only writing kernels, leaving the rest of our code (the host part) in Python, without renounce efficiency either speed and keeping hardware independence.</p>

<p>An overview of the tutorial structure:</p>

<p>
    <ul>
    <li>What is GPGPU Programming?</li>
    <li>What is OpenCL? Components.</li>
    <li>Abstract Architecture of OpenCL</li>
    <li>Memory Types of OpenCL</li>
    <li>Execution Model of OpenCL</li>
    <li>Introduction to PyOpenCL (hands-on)</li>
    <li>Getting information about our platform and hardware capabilities.</li>
    <li>Contexts</li>
    <li>Queue</li>
    <li>Kernel Code & Programs</li>
    <li>Buffers (I/O)</li>
    <li><ul>Practical examples:
        <li>Basic matrix operations.</li>
        <li>Image processing.</li>
        <li>Fractal and multifractals computations.</li>
        </ul></li>
    </ul>

    <p>Prior to the talk a github repo will be made available so attendees will be able to follow the talk. In the hands-on part the audience can run all the code shown in the talk and we will leave time to solve simple problems included in the tutorial.</p>

</p>

</div>

<h3>Speaker Bio</h3>
<div><p>PhD student in Computer Science working at CENPAT-CONICET on "Diversity, Systemic and Evolution" group. Focused on 2 and 3D landmarking, reconstruction and visualization. Free software advocate. Assistant Professor at UNPSJB in Fundamentals of Computer Science and Business Intelligence.</p></div>

{% endblock %}
