{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>DSL on the top of Python Object Model</h2>

<h3>Instructor</h3>
<div><p>Juan Cabral</p></div>

<h3>Description</h3>
<div><p>If you don't know why in Numpy you can make things like <code>array[array[0] == 'foo']</code> here we are going to analize all the object oriented capabilities of Python and how Numpy and other libraries creates their Doman Specific Language (DSL) around it.</p></div>

<h3>Speaker Bio</h3>
<div><p>I’m a full stack developer and software engineer with extensive Python, web programming, and distributed systems experience.</p>

<p>I am an experienced and respected community organizer. I am most deeply involved in the Python community. I have been the chair of PyCon Argentina 2012, the Python Argentina flagship conference, and i founded the SciPy Argentina Community and also i was elected chari of SCiPy Argentina 2015</p></div>

{% endblock %}
