{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Fit and predict your data: Introduction to Scikit-learn</h2>

<h3>Instructor</h3>
<div><p>Celia Cintas</p></div>

<h3>Description</h3>
<div><p>Scikit-learn has an extensive collection of supervised and unsupervised learning algorithms with tools for preprocessing, metrics and cross validation. This tutorial will show how to build solutions based on classification, regression, clustering, and dimensionality reduction methods. We will introduce aspects of the library and explore examples of some of the most popular learning methods. </p></div>

<h3>Abstract</h3>
<div>

<p>Machine learning consist with the development of algorithms which can be trained by previously-seen data in order to make predictions about unseen data. It has become an important aspect of work in a variety of topics, such as, optimization of web searches, financial forecasts, physics, genomics, epidemics, etc. Scikit-learn it's a uniform and well-documented library, with an efficient implementation of the most used machine learning algorithms.</p>

<p>This tutorial will show how to build solutions based on classification, regression, clustering, and dimensionality reduction methods. In each topic, we will introduce aspects of the Scikit-learn library and explore practical examples of some of the most popular methods from the machine learning literature.</p>

<p>An overview of the tutorial structure:
<ul>
    <li>What is Machine Learning?</li>
    <li>What is Scikit-learn? Modules.</li>
    <li><ul>
            <li>Preprocessing</li>
            <li>Cross_validation</li>
            <li>Metrics</li>
            <li>Regression</li>
            <li>Classification</li>
            <li>Clustering</li>
            <li>Dimensionality reduction</li>
        </ul>
     <li>Ensemble methods</li>
    <li>Introduction to Scikit-learn (hands-on) All the examples have the classic pipeline preprocessing -> split -> method -> metrics & cross validation.</li>
    <li>Dimensionality reduction: different PCA over satellite images.</li>
    <li>Classification example: several algorithms (ETC, SVM) with satellite images (3 million elements labeled) to discriminate if it's water or not.</li>
    <li>Clustering example: K-Means clustering on the handwritten digits data.</li>
    <li>Regression example: climate and lat/lon variables with SVR and DTR.</li>
</ul>

    <p>Prior to the talk a github repo will be made available so attendees will be able to follow the talk. In the hands-on part the audience can run all the code shown in the talk and we will leave time to solve simple problems included in the tutorial.</p>

</div>

<h3>Speaker Bio</h3>
<div><p>PhD student in Computer Science working at CENPAT-CONICET on "Diversity, Systemic and Evolution" group. Focused on 2 and 3D landmarking, reconstruction and visualization. Free software advocate. Assistant Professor at UNPSJB in Fundamentals of Computer Science and Business Intelligence.</p></div>

{% endblock %}
