{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Scientific Python applied to Petroleum Engineering</h2>

<h3>Instructor</h3>
<div><p>Igor T. Ghisi</p></div>

<h3>Description</h3>
<div><p>Use of Python language has been growing in the scientific community, in exchange for proprietary solutions, due it's high flexibility and large collection of open source libraries. In this tutorial we will introduce Python as a solutions for scientific computing and show its application to solve basic petroleum engineering problems. The course is not targeted to petroleum engineers, but any researcher that want to use Python as a day-to-day tool for scientific programming.</p></div>

<h3>Speaker Bio</h3>
<div><p>Igor T. Ghisi is senior developer at ESSS, with over 10 years of experience building software solutions for R&D in petroleum engineering, in areas such as geology, reservoir engineering, optimization and HPC. He holds a M.S. in Computational Mechanics from Federal University of Rio de Janeiro and B.S. in Computer Science by Federal University of Santa Catarina.</p></div>

{% endblock %}
