{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Tutorials Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1><a href="../">{% trans "SciPyLA 2016 Tutorials" %}</a></h1>

{% box "tutorial-guidelines" %}

<h2>Usando R com o Python</h2>

<h3>Instructor</h3>
<div><p>Arnaldo Russo</p></div>

<h3>Description</h3>
<div><p>Processamento de variáveis Python através do programa R (software estatístico). O R possui linguagem própria e ampla divulgação na comunidade científica, possuindo diversos pacotes para análises estatísticas, ecológicas e geoespaciais. Nesse tutorial abordaremos os passos iniciais de instalação da biblioteca rpy2 e seus mecanismos na conversação entre R e Python.</p></div>

<h3>Abstract</h3>
<div>

<p>Esse tutorial abordará aspectos inicias de como exportar variáveis Python para o ecossistema R, processá-las e obter os resultados para serem reutilizados no Python.</p>

<p>A biblioteca <b>rPy</b> foi otimizada e recebe o nome de <b>rpy2</b> por possuir uma interfácie mais direta e aproximada com a sintaxe de Python que do R</p>

<p>Abordaremos também a distinção entre as duas bibliotecas e a utilização do R através do <b>pandas</b> outra biblioteca de manipulação de dados científicos que se apropriou do esquema de DataFrames do R, para constituir algumas ideias de desenvolvimento.</p>

</div>

<h3>Speaker Bio</h3>
<div><p>Arnaldo D'Amaral Pereira Granja Russo is PhD in Biological Oceanography and researcher at Instituto Ambiental Boto Flipper and core developer of DataSounds. While not teaching or programming he is surfing, climbing or paragliding. You can find him at ciclotux.org or in his Github page.</p></div>

{% endblock %}
